body {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
}

.game-box {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.game-pgr {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.debug-box {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20;
    width: 100%
}

.debug-container {
    font-family: monospace;
    border: 2px solid #fff;
    font-size: 14px;
    min-width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}